<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 p-5 sidebar position-relative zi-0">
            <header class="mb-4">
                <h1 class="text-center">Sebastián Gamboa</h1>
                <h3 class="text-center">Software Engineer</h3>
            </header>
            <mat-divider class="bt-light__color"></mat-divider>
            <section class="personal-information mt-4 mb-4">
                <h2 class="mb-3">Contacto</h2>
                <p class="d-flex">
                    <mat-icon class="me-2" aria-hidden="false" aria-label="phone">call</mat-icon>(+57) 320 274 50 81
                </p>
                <p class="d-flex">
                    <mat-icon class="fa-icon__background me-2 position-relative" style="color: #da372d;" aria-hidden="false" aria-label="email">email</mat-icon>sebasgb123@gmail.com
                </p>
                <p class="d-flex">
                    <i class="fab fa-linkedin fa-icon__background fs-24 me-2 position-relative" style="color: #0077b5;padding-left: 2px;padding-right: 2px;"></i>
                    linkedin.com/in/sebastiangamboa02
                </p>
                <p class="d-flex">
                    <i class="fab fa-github fs-24 me-2 position-relative" style="padding-left: 2px;"></i>
                    github.com/SebastianGamboa
                </p>
                <p class="d-flex">
                    <mat-icon class="me-2" aria-hidden="false" aria-label="place">place</mat-icon>Bogotá, Colombia
                </p>
            </section>
            <mat-divider class="bt-light__color"></mat-divider>
            <section class="education mt-4 mb-4">
                <h2 class="mb-3">Educación</h2>
                <h5 class="mb-2">Universidad Distrital</h5>
                <p class="mb-1">Ingeniería en Telemática</p>
                <p>2018 (Aplazado)</p>
                <h5 class="mb-2">Universidad Distrital</h5>
                <p class="mb-1">Tecnólogo en Sistematización de Datos</p>
                <p>2017</p>
            </section>
            <mat-divider class="bt-light__color"></mat-divider>
            <section class="skills mt-4 mb-4">
                <h2 class="mb-3">Skills</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <h5 class="mb-2">Lenguajes</h5>
                        <ul style="list-style: circle;">
                            <li style="margin-bottom: 5px;">Java</li>
                            <li style="margin-bottom: 5px;">Typescript</li>
                            <li style="margin-bottom: 5px;">Javascript</li>
                            <li>HTML</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 pl-0">
                        <h5 class="mb-2">Frameworks</h5>
                        <ul style="list-style: circle;">
                            <li style="margin-bottom: 5px;">Spring Boot</li>
                            <li style="margin-bottom: 5px;">Angular</li>
                            <li style="margin-bottom: 5px;">Express</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="mb-2">Otros</h5>
                        <ul style="list-style: circle;">
                            <li style="margin-bottom: 5px;">Node.js</li>
                            <li style="margin-bottom: 5px;">SQL - PL/SQL</li>
                            <li style="margin-bottom: 5px;">MongoDB</li>
                            <li style="margin-bottom: 5px;">CSS</li>
                            <li style="margin-bottom: 5px;">Git</li>
                            <li style="margin-bottom: 5px;">Unit Testing</li>
                            <li style="margin-bottom: 5px;">AWS</li>
                            <li>Scrum</li>
                        </ul>
                    </div>
                </div>
                <!-- <div *ngFor="let skill of skills; let i=index" class="d-flex justify-content-between">
                    <p>{{ skill.name }}</p>
                    <div>
                        <mat-icon *ngFor="let type of skill.rate; let i=index" class="secondary-color__text ml-2" aria-hidden="false" aria-label="">{{ type }}</mat-icon>
                    </div>
                </div> -->
            </section>
        </div>
        <div class="col-sm-8 p-5">
            <section class="profile mb-4">
                <h2 class="mb-3">Perfil</h2>
                <p>Desarrollador de Software con experiencia en creación de sitios web, plataformas administrativas de banca y seguros, e-learning y servicios de transporte.</p>
            </section>
            <mat-divider></mat-divider>
            <section class="experience mt-4">
                <h2 class="mb-3">Experiencia (6 años)</h2>
                <article>
                    <h5>Software Engineer</h5>
                    <p>EPAM | Enero 2022 - Actualmente</p>
                    <ul>
                        <li>Diseñar y desarrollar nuevas funcionalidades requeridas por el negocio.</li>
                        <li>Mantenimiento y correción de errores.</li>
                        <li>Migración de servicios del core de negocio a Spring Boot y Java 11.</li>
                    </ul>
                </article>
                <article>
                    <h5>Software Developer</h5>
                    <p>Colegium | Junio 2021 - Diciembre 2021</p>
                    <ul>
                        <li>Refactorización y mejoras en el modelo de datos del aplicativo de envío de comunicaciones.</li>
                        <li>Soporte y correción de incidencias de los distintos clientes en el módulo comunicaciones.</li>
                    </ul>
                </article>
                <article>
                    <h5>Senior Java Software Engineer</h5>
                    <p>Secretaría de Educación Distrital | Mayo 2021 - Diciembre 2021</p>
                    <ul>
                        <li>Desarrollo de los módulos de registro de usuario, aplicación a ofertas y legalización de Jóvenes a la U.</li>
                        <li>Optimización en tiempo de envío de correos masivos que se redujo de 1h a 2 min por cada 3000 destinatarios.</li>
                    </ul>
                </article>
                <article>
                    <h5>Full Stack Developer</h5>
                    <p>Ditech | Octubre 2019 - Julio 2021</p>
                    <ul>
                        <li>Desarrollo de microservicios para gestionar consentimientos a terceros por parte del banco.</li>
                        <li>Optimización del tiempo de respuesta del API REST por medio de caching.</li>
                        <li>Creación de servicios para procesar los datos en background para mejorar el rendimiento, usando colas con Bull.js y Node.js</li>
                    </ul>
                </article>
                <article>
                    <h5>Full Stack Developer</h5>
                    <p>Periferia IT | Marzo 2019 - Septiembre 2019</p>
                    <ul>
                        <li>Desarrollo de API REST para generar datos estadísticos con pipelines en MongoDB y componentes dinámicos para visualización de estadísticas en gráficos.</li>
                        <li>Desarrollo del módulo de personalización y generación de tarjetas de presentación con Spring Boot, Angular y MongoDB.</li>
                    </ul>
                </article>
                <article>
                    <h5>Java Software Engineer</h5>
                    <p>Soaint | Noviembre 2018 - Marzo 2019</p>
                    <ul>
                        <li>Creación de microservicios con Spring Boot para gestionar la radicación de documentos.</li>
                        <li>Desarrollo de POC con Angular para realizar el proceso de análisis y validación de los documentos.</li>
                    </ul>
                </article>
                <article>
                    <h5>Backend Developer</h5>
                    <p>Cátedra | Junio 2018 - Octubre 2018</p>
                    <ul>
                        <li>Creación del módulo de actividades asignadas a los alumnos y gestión de notas por parte de los docentes.</li>
                        <li>Diseño de una red social para la interacción y socialización del conocimiento entre estudiantes y docentes.</li>
                    </ul>
                </article>
                <!-- <article>
                    <h5>Junior Java Developer - PL/SQL</h5>
                    <p>Wog | Febrero 2018 - Junio 2018</p>
                    <ul>
                        <li>Creación de stored procedures para optimizar la comercialización y administración de pólizas de seguro.</li>
                        <li>Integración de procesos de seguros en el core bancario con Java 8 y Spring Framework.</li>
                    </ul>
                </article>
                <article>
                    <h5>Web Developer</h5>
                    <p>Interwap | Junio 2017 - Febrero 2018</p>
                    <ul>
                        <li>Creación del módulo de seguimiento a conductores cercano a tiempo real en el cual se visualiza la ruta, ubicación y tiempo de cada servicio de transporte en curso.</li>
                        <li>Diseño del landing page del producto de transporte.</li>
                    </ul>
                </article> -->
            </section>
        </div>
    </div>
</div>