<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img src="assets/images/profile-photo.jpg" class="image-size rounded-circle" alt="Profile photo">
        </div>
        <div class="col-sm-9 d-flex justify-content-end align-items-center">
            <hr class="title-line mr-3">
            <h2>Pepito Pérez</h2>
        </div>
    </div>
    <div class="row pl-3">
        <div class="col mt-3">
            <h5>Personal information</h5>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-6">
            <span>Bogotá, Colombia</span>
        </div>
        <div class="col-sm-6 text-right">
            <span>pepitoperez@gmail.com</span>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-6">
            <span>(+57) 315 555 55 55</span>
        </div>
        <div class="col-sm-6 text-right">
            <span>anything else</span>
        </div>
    </div>
    <div class="row pl-3">
        <div class="col mt-3">
            <h5>Profile</h5>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-12">
            <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dolorum hic
                reiciendis ab possimus repellendus debitis nulla, repudiandae sunt eum earum officiis doloremque iusto
                delectus soluta enim perspiciatis nostrum corrupti.</p>
            <hr class="separator">
        </div>
    </div>
    <div class="row pl-3">
        <div class="col">
            <h5>Experience</h5>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-3">
            <p>November 2019 - Present</p>
        </div>
        <div class="col-sm-9">
            <h6>Company B</h6>
            <ul class="list-items mb-3">
                <li>
                    <fa-icon [icon]="faCircle" [classes]="['circle-icon']"></fa-icon>
                    <p class="item ml-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, itaque!
                        Expedita quaerat, eligendi voluptate ipsum quas blanditiis nam</p>
                </li>
                <li>
                    <fa-icon [icon]="faCircle" [classes]="['circle-icon']"></fa-icon>
                    <p class="item ml-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, itaque!
                        Expedita quaerat, eligendi voluptate ipsum quas blanditiis nam</p>
                </li>
            </ul>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-3">
            <p>March 2017 - October 2019</p>
        </div>
        <div class="col-sm-9">
            <h6>Company A</h6>
            <ul class="list-items">
                <li>
                    <fa-icon [icon]="faCircle" [classes]="['circle-icon']"></fa-icon>
                    <p class="item ml-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, itaque!
                        Expedita quaerat, eligendi voluptate ipsum quas blanditiis nam</p>
                </li>
                <li>
                    <fa-icon [icon]="faCircle" [classes]="['circle-icon']"></fa-icon>
                    <p class="item ml-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, itaque!
                        Expedita quaerat, eligendi voluptate ipsum quas blanditiis nam</p>
                </li>
            </ul>
        </div>
        <div class="col-sm-12"><hr class="separator"></div>
    </div>
    <div class="row pl-3">
        <div class="col">
            <h5>Education</h5>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-3">
            <p>2018</p>
        </div>
        <div class="col-sm-9">
            <h6>Graphic and Media Design</h6>
            <ul class="list-items p-0">
                <li>
                    <p>University of Montreal</p>
                </li>
            </ul>
        </div>
        <div class="col-sm-12"><hr class="separator"></div>
    </div>
    <div class="row pl-3">
        <div class="col">
            <h5>Achievements</h5>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <ul class="list-items p-0">
                <li>
                    <fa-icon [icon]="faCircle" [classes]="['circle-icon']"></fa-icon>
                    <p class="item ml-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint assumenda quos illo quisquam provident eveniet corrupti repellat. Tempora, reiciendis! Doloribus corporis nostrum, architecto animi consectetur aspernatur non atque magnam autem?</p>
                </li>
                <li>
                    <fa-icon [icon]="faCircle" [classes]="['circle-icon']"></fa-icon>
                    <p class="item ml-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ratione delectus, atque soluta a dolorum laborum cum autem sint numquam eius ex eaque veritatis debitis voluptatum inventore voluptatem hic rerum?</p>
                </li>
                <li>
                    <fa-icon [icon]="faCircle" [classes]="['circle-icon']"></fa-icon>
                    <p class="item ml-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore porro ex provident fugit dicta suscipit, placeat similique facere maiores, tempora illum. Corrupti odit libero dolorem blanditiis laudantium debitis, cupiditate vitae.</p>
                </li>
            </ul>
        </div>
        <div class="col-sm-12"><hr class="separator"></div>
    </div>
</div>