<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 p-5 sidebar position-relative zi-0">
            <header class="mb-4">
                <h1 class="text-center">Sebastian Gamboa</h1>
                <h3 class="text-center">Full Stack Developer</h3>
            </header>
            <mat-divider class="bt-light__color"></mat-divider>
            <section class="personal-information mt-4 mb-4">
                <h2 class="mb-3">Contact</h2>
                <p class="d-flex">
                    <mat-icon class="mr-2" aria-hidden="false" aria-label="phone">call</mat-icon>(+34) 641 47 31 46
                </p>
                <p class="d-flex">
                    <mat-icon class="fa-icon__background mr-2 position-relative" style="color: #da372d;" aria-hidden="false" aria-label="email">email</mat-icon>sebasgb123@gmail.com
                </p>
                <p class="d-flex">
                    <i class="fab fa-linkedin fa-icon__background fs-24 mr-2 position-relative" style="color: #0077b5;padding-left: 2px;padding-right: 2px;"></i>
                    linkedin.com/in/sebastiangamboa02
                </p>
                <p class="d-flex">
                    <i class="fab fa-github fs-24 mr-2 position-relative" style="padding-left: 2px;"></i>
                    github.com/SebastianGamboa
                </p>
                <!-- <p class="d-flex">
                    <i class="fab fa-twitter fs-24 mr-2" style="color: rgb(29, 161, 242);"></i>twitter.com/sebasgb02
                </p> -->
                <p class="d-flex">
                    <mat-icon class="mr-2" aria-hidden="false" aria-label="place">place</mat-icon>Barcelona, Spain
                </p>
            </section>
            <mat-divider class="bt-light__color"></mat-divider>
            <section class="education mt-4 mb-4">
                <h2 class="mb-3">Education</h2>
                <h5 class="mb-2">District University</h5>
                <p class="mb-1">Telematic Engineering</p>
                <p>2019 (Postponed)</p>
                <h5 class="mb-2">District University</h5>
                <p class="mb-1">Technologist in Data Systematization</p>
                <p>2017</p>
            </section>
            <mat-divider class="bt-light__color"></mat-divider>
            <section class="skills mt-4 mb-4">
                <h2 class="mb-3">Skills</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <h5 class="mb-2">Languages</h5>
                        <ul style="list-style: circle;">
                            <li style="margin-bottom: 5px;">Java</li>
                            <li style="margin-bottom: 5px;">Typescript</li>
                            <li style="margin-bottom: 5px;">Javascript</li>
                            <li>PHP</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 pl-0">
                        <h5 class="mb-2">Frameworks</h5>
                        <ul style="list-style: circle;">
                            <li style="margin-bottom: 5px;">Spring Boot</li>
                            <li style="margin-bottom: 5px;">Angular</li>
                            <li style="margin-bottom: 5px;">Vue.js</li>
                            <li style="margin-bottom: 5px;">React.js</li>
                            <li style="margin-bottom: 5px;">Express</li>
                            <li>Laravel</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="mb-2">Others</h5>
                        <ul style="list-style: circle;">
                            <li style="margin-bottom: 5px;">Node.js</li>
                            <li style="margin-bottom: 5px;">SQL - PL/SQL</li>
                            <li style="margin-bottom: 5px;">MongoDB</li>
                            <li style="margin-bottom: 5px;">Git</li>
                            <li style="margin-bottom: 5px;">Unit Testing</li>
                            <li>Scrum</li>
                        </ul>
                    </div>
                </div>
                <!-- <div *ngFor="let skill of skills; let i=index" class="d-flex justify-content-between">
                    <p>{{ skill.name }}</p>
                    <div>
                        <mat-icon *ngFor="let type of skill.rate; let i=index" class="secondary-color__text ml-2" aria-hidden="false" aria-label="">{{ type }}</mat-icon>
                    </div>
                </div> -->

            </section>
        </div>
        <div class="col-sm-8 p-5">
            <section class="profile mb-4">
                <h2 class="mb-3">Profile</h2>
                <p>Full stack developer with experience in website creation, banking and insurance platforms, e-learning and transportation services.</p>
            </section>
            <mat-divider></mat-divider>
            <section class="experience mt-4">
                <h2 class="mb-3">Experience</h2>
                <article>
                    <h5>Full Stack Developer</h5>
                    <p>Ditech | October 2019 - Current</p>
                    <ul>
                        <li>Development of microservices to manage third-party consents by the bank.</li>
                        <li>Optimizing REST API Response Time Using Caching.</li>
                        <li>Creating background processes to improve performance using queues with Bull.js and Node.js</li>
                    </ul>
                </article>
                <article>
                    <h5>Full Stack Developer</h5>
                    <p>Periferia IT | March 2019 - September 2019</p>
                    <ul>
                        <li>API development to generate statistical data with MongoDB pipelines and components with dynamic graphics for visualization.</li>
                        <li>Creation of the customization module to generate business cards with Spring Boot, Angular and MongoDB.</li>
                    </ul>
                </article>
                <article>
                    <h5>Java Engineer</h5>
                    <p>Soaint | November 2018 - March 2019</p>
                    <ul>
                        <li>Development of microservices with Spring Boot to manage the filing of documents.</li>
                        <li>Development of a proof of concept with Angular to manage the document analysis and validation process.</li>
                    </ul>
                </article>
                <article>
                    <h5>Backend Developer</h5>
                    <p>Catedra | June 2018 - October 2018</p>
                    <ul>
                        <li>Creation of the module of activities assigned to students and management of grades by teachers.</li>
                        <li>Development of the registration and subject assignment process with question-answer authentication.</li>
                        <li>Design of a social network for the interaction and socialization of knowledge between students and teachers.</li>
                    </ul>
                </article>
                <article>
                    <h5>Backend Developer</h5>
                    <p>Wog | February 2018 - June 2018</p>
                    <ul>
                        <li>Creation of stored procedures to manage the marketing of insurance policies.</li>
                        <li>Integration of insurance processes in the banking core with Java 8 and Spring Framework.</li>
                    </ul>
                </article>
                <article>
                    <h5>Web Developer</h5>
                    <p>Interwap | June 2017 - February 2018</p>
                    <ul>
                        <li>Creation of the module to monitor nearby drivers in real time to view the route, location and time of each transport service in progress.</li>
                        <li>Transportation product landing page design.</li>
                    </ul>
                </article>
            </section>
        </div>
    </div>
</div>